<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script src="//use.typekit.net/gpr7svo.js"></script>
	@Html.Partial("_Head")
<style type="text/css">
 div.container {
    background-color: #B0BCC4;
    padding-left:0;
    padding-right:0;
    }
    div.body-background {
    background-color: #223947;
    }
    div.header-row {
    background-color:white;
    border-bottom: solid 4px #0064A6;
    margin-left:0;
    margin-right:0;
    }
    div.navbar {
    border-radius:0;
    background-color:white;
    margin-bottom:0 !important;
    }
    a.dropdown-toggle {
    color: #0064A6 !important;
    }
 div.footer {
    padding-top: 0;
    background-color:#223947;
    border-top:0;
    padding-left:0;
    }
div.footer > div.container {
    border-top: solid 4px #0064A6;
    background-color:white;
    padding-top:5px;
    }
div.footer div.col-sm-12 {
    text-align:center;
    }
div.sub-footer {
    text-align:center;
    }
div.body-wrapper {
	padding-left:2rem;
	padding-right:2rem;
	color:#444444;
}
div.breadcrumb {
	padding-left:2rem;
	padding-right:2rem;
	color:#444444;
	height:2.8rem;
	background-color:white;
	border-radius:0;
}
a.user-link {
	color:#337ab7;
}
</style>
</head>
<body>
	@Html.Partial("_BodyOpen")
	<div class="background">
		<div class="body-background">
			<div class="container">
				<div class="row header-row">
					<div class="col-sm-5 logo-wrap">
						@Html.Topic("Template.Logo")
					</div>
					<div class="col-sm-7 text-right-sm header-cart">
						@Html.Action(ActionNames.Index, ControllerNames.UserLinks)
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="navbar navbar-default topnav" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand visible-xs menu-label" data-toggle="collapse" data-target="#top-nav-collapse" href="#">
							@Html.StringResource("responsiveskin.menulabel")
						</a>
					</div>
					<div class="navbar-collapse collapse" id="top-nav-collapse">
						<ul class="nav navbar-nav">
							<!--CATEGORIES-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									@Html.StringResource("responsiveskin.categorymenulabel")
									<span class="caret"></span>
								</a>
								@Html.XmlPackage("entitymenu", new { entitytype = "category" })
							</li>
							<!--IMAGE LIBRARY-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Image Library
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/sitemap/">
											Desks &amp; Workstations
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Seating
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Conference
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Filing &amp; Storage
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Reception &amp; Lounge
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Training Room
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Bookcases
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											Accessories
										</a>
									</li>
								</ul>
							</li>
							<!--CATALOG-->
							<li class="dropdown">
								<a href="/topic/catalog" class="dropdown-toggle">
									Catalog
								</a>
							</li>
							<!--VENDORS-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									@Html.StringResource("responsiveskin.manufacturermenulabel")
									<span class="caret"></span>
								</a>
								@Html.XmlPackage("entitymenu", new { entitytype = "manufacturer" })
							</li>
							<!--ACCOUNT-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									@Html.StringResource("responsiveskin.accountmenulabel")
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="@Url.Action(ActionNames.Index, ControllerNames.Account)">
											@Html.StringResource("responsiveskin.accountlabel")
										</a>
									</li>
									<li>
										<a href="@Url.Action(ActionNames.Index, ControllerNames.Account)#OrderHistory">
											@Html.StringResource("responsiveskin.orderhistorylabel")
										</a>
									</li>
									<li>
										<a href="/downloads">
											My Downloads
										</a>
									</li>
									@if(AppLogic.AppConfigBool("ShowWishButtons"))
									{
										<li>
											<a href="#miniwish-modal" data-toggle="modal">
												@Html.StringResource("responsiveskin.wishlistlabel")
											</a>
										</li>
									}
									<li class="divider"></li>
									<li>
										@Html.Action(ActionNames.LoginLinks, ControllerNames.UserLinks)
									</li>
								</ul>
							</li>
							<!--ABOUT-->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									About
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/topic/about#who-we-are">
											Who We Are
										</a>
									</li>
									<li>
										<a href="/topic/about#our-story">
											Our Story
										</a>
									</li>
									<li>
										<a href="/topic/about#our-territories">
											Our Territories
										</a>
									</li>
									<li>
										<a href="/topic/about#our-philosophy">
											Our Philosophy
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											The NDI Team
										</a>
									</li>
									<li>
										<a href="/sitemap/">
											News
										</a>
									</li>
								</ul>
							</li>
							<!--CONTACT-->
							<li class="dropdown">
								<a href="/contactus/" class="dropdown-toggle">
									Contact
								</a>
							</li>
						</ul>
						<div class="nav navbar-nav navbar-right navbar-form search-wrap">
							@Html.Partial(ViewNames.SearchPartial)
						</div>
					</div>
				</div>
				<div class="notices">
					@Html.Action(ActionNames.Index, ControllerNames.Notice)
				</div>
				@Html.Action(
					actionName: "Detail",
					controllerName: "Breadcrumb",
					routeValues: new
					{
						PageTitle = ViewBag.PageTitle,
						PathInfo = ViewBag.PathInfo
					})
				<div class="body-wrapper">
					<!-- Contents start -->
					@RenderBody()
					<!-- Contents end -->
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				@Html.Topic("Template.footer")
				<div class="sub-footer">
					@Html.Topic("Template.SubFooter")
				</div>
			</div>
		</div>
	</div>

	<!-- Minicart modal -->
	@Html.Action(ActionNames.Index, ControllerNames.Minicart, new { cartType = CartTypeEnum.ShoppingCart })

	<!-- Miniwish modal -->
	@Html.Action(ActionNames.Index, ControllerNames.Minicart, new { cartType = CartTypeEnum.WishCart })

	<!-- Minicart and miniwish resources (javascript and overlay html) -->
	@Html.Action(ActionNames.MinicartResources, ControllerNames.Minicart)
	
	@Html.Partial("_BodyClose")
</body>
</html>
